.body {
  z-index: 0;
  position: relative;
}

.root {
  height: 100%;
}

.root>div {
  @extend .root;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.mb-15 {
  margin-bottom: 15px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-5 {
  margin-right: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.text-center {
  text-align: center;
}

.flr {
  float: right;
}

.mgb-15 {
  margin-bottom: 15px;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.dropdown-menu .fa:before {
  padding-right: 10px;
}

.sort_selected::after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 4px;
  display: inline-block;
}

.panel-action {
  margin: 5px;
  padding: 5px;
  float: right;
}

.panel-action button {
  margin: 10px;
}

.warning-text {
  color: red;
  font-style: italic;
}

.clickable {
  cursor: pointer;
}

.collector-simple-list {
  width: 150px;
}

.no-padding-right {
  padding-right: 0px;
}

.normal-modal {
  width: 60% !important;
  max-width: none !important;
}

.normal-modal .modal-body {
  max-height: 30rem !important;
  overflow-y: scroll;
}

.big-modal {
  width: 80% !important;
  max-width: none !important;
}

.big-modal .modal-body {
  max-height: 30rem !important;
  overflow-y: scroll;
}

.bold-text {
  font-weight: bold;
}

.icon-btn {
  cursor: pointer;
  margin: 0px 10px 0px 10px;
}

table.table a {
  color: #1e70bf !important;
  text-decoration: underline;
}

.hide-last-row thead:last-child {
  display: none;
}